<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body class="bg-gray-50">
    <div class="min-h-screen">
      <% if user_signed_in? %>
        <%= render 'layouts/header' %>
      <% end %>

      <%= render 'layouts/flash_messages' %>

      <!-- Main Content -->
      <main class="<%= user_signed_in? ? 'max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8' : 'container mx-auto mt-28 px-5 flex' %>">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
